.footer_bg{
	width: 100%;
	height: 500px;
	background-color: white;
}
.footer{
	height: 500px;
	overflow:hidden;
	position: relative;
}
.footer_ul{
	margin-top: 50px;
	border-bottom: 1px solid #ccc;
	height: 125px;
	overflow: hidden;
}
.footer_ul li{
	margin: 0 50px;
	width: 205px;
	height: 66px;
	overflow: hidden;
}
.footer_ul li img{
    float: left;
    display: block;
    width: 66px;
    height: 66px;
    margin-right: 15px;
}
.footer_ul li b{
	display: block;
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 5px;
}
.footer_ul li span{
	display: inline-block;
	width: 120px;
	height: 20px;
	font-size: 14px;
	color: #ccc;
}

.footer_m{
	padding-left: 15px;
	padding-top: 20px;
	padding-bottom: 20px;
	overflow: hidden;
	position: relative;
	
}
.footer_m dl{
	float: left;
	width: 195px;
	display: block;
}
.footer_m dl dt{
	height: 32px;
    padding: 0 8px;
    font-size: 14px;
    color: #666;
    line-height: 32px;
    overflow: hidden;
    font-family: "Microsoft YaHei";
    color: #666;
    font-weight: bold;
}
.footer_m dl dd{
	padding: 0 8px;
	height: 24px;
	line-height: 24px;
}
.footer_m dl dd a{
    color: #666;
}

.footer_m_code{
	width: 280px;
	height: 120px;
	position: absolute;
	right: 150px;
	top: 20px;
}
.footer_m_code .two_code{
	float: left;
    margin-right: 50px;
}
.footer_m_code .two_code p{
    line-height: 32px;
    font-size: 14px;
    font-weight: bold;
    color: #666;
}
.footer_b{
	width: 100%;
}
.footer_b p{
    margin: 15px 0;
	width: 100%;
	text-align: center;
}
.footer_b p a:hover{
	color: red;
}

.footer_b_i{
	display: block;
	text-align: center;
}
