.section{
	margin-top: 10px;
	/*height: 300px;
	background-color: yellowgreen;*/
	overflow: hidden;
}
.section .banner{
	width: 100%;
	height: 140px;
	background-color: white;
}
.section .banner>img{
	
	height: 140px;
}
.banner_ul_bg{
	float: right;
	width: 1015px;
	height: 140px;
}
.banner_ul{
	width: 2000px;	
	height: 140px;
}
.banner_ul li{
	width: 255px;
	height: 140px;
	position: relative;
}
.banner_ul li p{
	margin-left: 10px;
	margin-top: 20px;
	width: 130px;
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box; 
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2;
}
.banner_ul li p:nth-of-type(2){
	margin-top: 15px;
	color: red;
}
.banner_ul li p:nth-of-type(3){
	margin-top: 5px;
}
.banner_ul li img{

	width: 110px;
	height: 110px;
	position: absolute;
	right: 10px;
	top: 20px;
}

.section_title1{
	margin-top: 20px;
	width: 100%;
	height: 440px;
	background-color: #F974C5;
}
.section_title1 .section_title1_t>a>img{
	width:100%;
}
.section_title1 .section_title1_min>a>img{
	/*display: block;*/
    margin: 10px 1px 0 1px;
}
.section_title1 .section_title1_min{
	padding-left:20px;
	box-sizing: border-box;
	width: 100%;
}

.section_title2{
	margin-top: 20px;
	margin-right: 12px;
	width: 100%;
	height: 400px;
}
.section_title2 .aside_l{
	/*position: relative;
    _display: inline;*/
    float: left;
    width: 267px;
    height: 400px;
    overflow: hidden;
    margin-right: 12px;
}
.section_title2 .aside_l img{
	display: block;
	width: 267px;
    height: 400px;
}
.section_title2 .aside_m{
	float: left;
    width: 484px;
	height: 400px;
	position: relative;
	overflow: hidden;
    background: #fff url(../img/titke_bg.png) no-repeat center top;
}

.section_title2 .aside_m h4{
	width: 484px;
	height: 33px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 7px;
    border-top: 1px solid #fb744b;
}

.section_title2 .aside_m h4 a em{
	font-style: normal;
	font-weight: bold;
	color: white;
    display: inline-block;
    position: relative;
    top: -3px;
    width: 140px;
    margin-top: -3px;
    font-size: 18px;
    background: #fb6233;
}
.section_title2 .aside_m .aside_m_l{
	width:250px;
	height: 400px;
	float: left;
}
.section_title2 .aside_m a img{
    width: 250px;
    height: 360px;
}

.section_title2 .aside_m .aside_m_r{
	width: 250px;
	height: 400px;
	position: absolute;
	right: 0px;
}
.a_m_r_t{
	float: right;
	margin-left: 20px;
	margin-right: 20px;
	width: 200px;
	height: 181px;
	border-bottom: 1px solid #ccc;
}
.a_m_r_t p:nth-of-type(1){
	margin-top: 10px;
	font-size: 18px;
	height: 18px;
	line-height: 18px;
	color: #fb6233;	
}
.a_m_r_t p:nth-of-type(2){
	margin-top: 10px;
	font-size: 16px;
	line-height: 16px;
	height: 16px;
}
.section_title2 .aside_m .aside_m_r a img{
	width: 110px;
	height: 110px;
	margin-left: 80px;
}


.section_title2 .aside_r{
	float: right;
    width: 445px;
	height: 400px;
	position: relative;
	overflow: hidden;
    background: #fff url(../img/titke_bg.png) no-repeat center top;
}

.section_title2 .aside_r h4{
    width: 445px;
	height: 33px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 7px;
    border-top: 1px solid #fb744b;
}

.section_title2 .aside_r h4 a em{
	font-style: normal;
	font-weight: bold;
	color: white;
    display: inline-block;
    position: relative;
    top: -3px;
    width: 140px;
    margin-top: -3px;
    font-size: 18px;
    background: #fb6233;
}
.aside_r .aside_m_l{
	width:250px;
	height: 400px;
	float: left;
}
.aside_r a img{
    width: 250px;
    height: 360px;
}

.aside_r .aside_m_r{
	width: 250px;
	height: 400px;
	position: absolute;
	right: 0px;
}
.aside_r .a_m_r_t{
	float: right;
	margin-left: 20px;
	margin-right: 20px;
	width: 200px;
	height: 181px;
	border-bottom: 1px solid #ccc;
}
.aside_r .a_m_r_t p:nth-of-type(1){
	margin-top: 10px;
	font-size: 18px;
	height: 18px;
	line-height: 18px;
	color: #fb6233;	
}
.aside_r .a_m_r_t p:nth-of-type(2){
	margin-top: 10px;
	font-size: 16px;
	line-height: 16px;
	height: 16px;
}
.section_title2 .aside_r .aside_m_r a img{
	width: 110px;
	height: 110px;
	margin-left: 50px;
}

#load_more{
	text-align: center;
	line-height: 100px;
	line-height: 100px;
}
